<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
    
    <servlet>
        <servlet-name>BlogServlet</servlet-name>
        <servlet-class>controller.BlogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackServlet</servlet-name>
        <servlet-class>controller.FeedbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserListServlet</servlet-name>
        <servlet-class>controller.admin.UserListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUserServlet</servlet-name>
        <servlet-class>controller.admin.AddUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BlogServlet</servlet-name>
        <url-pattern>/blog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackServlet</servlet-name>
        <url-pattern>/feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserListServlet</servlet-name>
        <url-pattern>/Admin/userlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUserServlet</servlet-name>
        <url-pattern>/Dashboard/adduser</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.CommonFeature.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>controller.PublicFeature.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.CommonFeature.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostServlet</servlet-name>
        <servlet-class>controller.ManagerController.PostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SliderServlet</servlet-name>
        <servlet-class>controller.ManagerController.SliderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSliderServlet</servlet-name>
        <servlet-class>controller.ManagerController.AddSliderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditSliderServlet</servlet-name>
        <servlet-class>controller.ManagerController.EditSliderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostServlet</servlet-name>
        <url-pattern>/postList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SliderServlet</servlet-name>
        <url-pattern>/sliderList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSliderServlet</servlet-name>
        <url-pattern>/addSlider</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditSliderServlet</servlet-name>
        <url-pattern>/editSlider</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SliderDetailServlet</servlet-name>
        <servlet-class>controller.ManagerController.SliderDetailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SliderDetailServlet</servlet-name>
        <url-pattern>/sliderDetail</url-pattern>
    </servlet-mapping>
</web-app>
